body {
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
}

#logo_img {
  width: 70px;
  height: 50px;
}

nav,
footer {
  background-color: #17202a;
}

section {
  background-color: #212f3d;
}
h1 {
  font-size: 35px;
  display: flex;
}

h2 {
  color: #17202a;
}

#frase {
  font-size: 40px;
}

input {
  font-size: 20px;
}
